---

- name: Send API request and debug complete response
  hosts: localhost
  gather_facts: false
  vars_files:
    - ../vault.yml

  vars:
    inference_system_prompt: |
      You are a Department of Defense systems engineer who is applying STIG's to RHEL hosts.
      Create a playbook named "Re-baseline protected configuration files"
      Playbooks should be formatted using fully qualified content names (FQCN).
      If violations are identifed, please recommend remediations.
      1. **Problem Identification:** Highlight the problem
      2. **Manual Remediation:** Suggest manual remediations
      3. **Automated Remediation:** Suggest Ansible playbook to reconfigure based on manual remediations. 

  tasks:

    - name: Send POST request using uri module
      ansible.builtin.uri:
        # url: http://<url>:8000/stig-logs?logs={{ log_output | urlencode }}
        url: "http://{{rag_endpoint}}:8000/stig-logs?logs={{ log_output | urlencode }}"
        method: POST
        headers:
          accept: "application/json"
        body: ""
        body_format: raw
        return_content: true
        status_code: 200
        timeout: 60
      register: rag_response

    - name: Combine output and set fact
      ansible.builtin.set_fact:
        final_prompt: |

          RAG Context:
          {{ rag_response }}

          Log output:
          {{ log_output }}

    - name: Send RCA prompt to RHEL AI (Root Cause Analysis)
      ansible.builtin.uri:
        url: https://{{ inference_endpoint }}:443/v1/chat/completions
        method: POST
        headers:
          accept: "application/json"
          Content-Type: "application/json"
          Authorization: "Bearer {{ token }}"
        body:
          # prompt: "{{ final_prompt }}"
          model: granite-3-3-8b-instruct
          messages:
            - role: "system"
              content: "{{ inference_system_prompt }}"
              # content: | 
              #   You are a Department of Defense systems engineer who is applying STIG's to RHEL hosts.
              #   If violations are identifed, please recommend remediations.
              #   1. **Problem Identification:** Highlight the problem
              #   2. **Manual Remediation:** Suggest manual remediations
              #   3. **Automated Remediation:** Suggest Ansible playbook to reconfigure based on manual remediations. Playbooks should be formatted using fully qualified content names (FQCN).
            - role: "user"
              content: "{{ final_prompt }}"
        body_format: json
        return_content: true
        status_code: 200
        timeout: 120
      register: response

    # - name: Get message content
    #   ansible.builtin.set_fact:
    #     pretty_rca: "{{ response.content.choices[0].content }}"

    - name: Show the API response
      ansible.builtin.debug:
        msg: "{{ response.json }}"

    - name: Set the fact for the AI generated playbook
      ansible.builtin.set_fact:
        remediation_playbook: "{{ response.json.playbook | from_yaml }}"

    - name: Display the generated playbook in YAML format
      ansible.builtin.debug:
        msg: "{{ remediation_playbook | to_nice_yaml(sort_keys=False) }}"
